body{
    background-color: #fff5e2;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


#root{
    padding: 2%;
}


#nav-bar{
    font-size: larger;
}

#tab-content{
    position: absolute;
    right: 50vw;
    top:23vh;
}
#account-info{
    display: flex;
    gap: 40px;
    font-size:x-large;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

#home-user-balance{
    font-size:50px;
    position: relative;
    top: 10vh;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

#user-balance{
    font-size:50px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.table-div{
    position: fixed;
    bottom: 9vh;
    left: 7vw;
    overflow:auto;
    height: 300px; 
}

th,td{
    border: 1px solid black;
    width: 170px;
    height: 30px;
    text-align: center;
}


.table-div thead th{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    
}

table {
    border-collapse:separate;
    border:solid black 0.5px;
    border-radius:6px;
}

td, th {
    border-left:solid black 0.5px;
    border-top:solid black 0.5px;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}



.nav-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.nav-button:hover,
.nav-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.nav-button:hover {
  transform: translateY(-1px);
}

.nav-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


#month-statistics-tab{
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    position: relative;
    top:30vh;
}


#month-statistics-tab-header{
    font-size:25px;
}

#month-statistics-tab-income, #month-statistics-tab-expense{
    font-size:17px;
}


#action-form{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    border-radius: 5px;
    padding: 4px;
    border: solid 0.2px black;
}

input[type="submit"]{
    margin-top: 10px;
}

#action-message{
    flex-shrink: 0;
}


.helptext{
    display: block;
    margin-bottom: 10px;
}


.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}