{% extends "base.html" %}

{% load static %}

{% block Title %}Sun Bank - Login{% endblock %}

{% block Content %}
<form action="{% url 'login' %}" method="POST" id="login-form">
    {% csrf_token %}
    {{ login_form }}
    <input type="submit" value="Login" class="button" id="login-submit-button">
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}